}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px black;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li{
    height: 50px;

}

nav a{
   height: 100%;
  padding: 0 30px;
   text-decoration: none;
  display: flex;
   align-items: center;
   color: white;
}
nav a :hover{
    background-color: azure;
}
nav li:first-child{
   margin-right: auto;
}
.Image{
    width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    bottom: 300px;
    z-index: -1;
    /*filter: blur(1px);*/
   
}
.second{
    height: 300px;
    position: absolute;
    width: 300px;
    top: 10%;
    left: 80%;
    border-radius: 10%;
    object-fit: cover;
   z-index: -1;
   /* filter: blur(1px);*/
}
.third{
    height: 300px;
    position: absolute;
    width: 300px;
    top: 60%;
    left: 80%;
    border-radius: 10%;
    object-fit: cover;
   /* filter: blur(1px);*/
   z-index: -1;
   
}
.text{
    font-size: 38px;
    position: absolute;
    left:45% ;
    top: 18%;
   z-index: 0;
   color: rgba(206, 217, 221, 0.944);
}
.txt{
    font-size: 28px;
    position: absolute;
    left:39% ;
    top: 33%;
   z-index: 0;
   color: rgba(206, 217, 221, 0.944);
}

.bar{
    width: 400px;
    display: flex;
    height: 24px;
    position: absolute;
    top: 44%;
    left: 40%;
    border-radius: 29px;
    padding: 14px;
    background: rgb(236, 228, 228);
    transition: box-shadow 0.25s;
}
.bar:focus-within{
    box-shadow: 0 0 2px rgba(0,0,0,0.75);
    z-index: 1;
}
.search{
    display:flex ;
    height: 24px;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
    
    
    }